<Settings>
 <CustomerData>
  <OrgName>COMPANY NAME</OrgName>
  <FullName>FULL COMPANY NAME</FullName>
 </CustomerData>
 <HyperV>
  <VMSwitch>Ethernet Cable</VMSwitch>
 </HyperV>
 <Templates>
<Template Name="Windows 11 - WORKGROUP">
<Active>True</Active>
<VMGen>2</VMGen>
<Memory>4096</Memory>
<MemoryLow>2048</MemoryLow>
<MemoryHigh>8192</MemoryHigh>
<NoCPU>2</NoCPU>
<DynamicMem>True</DynamicMem>
<DiskMode>Attached</DiskMode>
<VHDFile>C:\ProgramData\VMDeploy\Images\Windows11.vhdx</VHDFile>
<TimeZoneName>W. Europe Standard Time</TimeZoneName>
<DomainOrWorkGroup>WorkGroup</DomainOrWorkGroup>
<DNSDomain>NA</DNSDomain>
<MachineObjectOU>NA</MachineObjectOU>
<NameSuffix>WG</NameSuffix>
<VLanID>0</VLanID>
<VMSwitch>Default Switch</VMSwitch>
</Template>
<Template Name="Windows 11 - Intune OOBE">
<Active>True</Active>
<VMGen>2</VMGen>
<Memory>4096</Memory>
<MemoryLow>2048</MemoryLow>
<MemoryHigh>8192</MemoryHigh>
<NoCPU>2</NoCPU>
<DynamicMem>True</DynamicMem>
<DiskMode>Attached</DiskMode>
<VHDFile>C:\ProgramData\VMDeploy\Images\Windows11.vhdx</VHDFile>
<TimeZoneName>W. Europe Standard Time</TimeZoneName>
<DomainOrWorkGroup>WorkGroup</DomainOrWorkGroup>
<DNSDomain>NA</DNSDomain>
<MachineObjectOU>NA</MachineObjectOU>
<NameSuffix>INTUNE-</NameSuffix>
<VLanID>0</VLanID>
<VMSwitch>Default Switch</VMSwitch>
</Template>
<!-- <Template Name="Linux - Kali">
<Active>True</Active>
<VMGen>2</VMGen>
<Memory>2048</Memory>
<MemoryLow>2048</MemoryLow>
<MemoryHigh>8192</MemoryHigh>
<NoCPU>2</NoCPU>
<DynamicMem>True</DynamicMem>
<DiskMode>Attached</DiskMode>
<VHDFile>C:\ProgramData\VMDeploy\Images\Kali.vhdx</VHDFile>
<TimeZoneName>W. Europe Standard Time</TimeZoneName>
<NameSuffix>Kali-</NameSuffix>
<VLanID>0</VLanID>
<VMSwitch>Default Switch</VMSwitch>
</Template> -->
 </Templates>
</Settings>
